#Eclipse junk
.metadata*

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

color-blob-detection/gen/org/opencv/samples/colorblobdetect/R.java
color-blob-detection/project.properties
color-blob-detection/bin/
color-blob-detection/gen/

